<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LOWRISK" value="LOWRISK"/>
    <add key="MEDIUMRISK" value="MEDIUMRISK"/>
    <add key="HIGHRISK" value ="HIGHRISK"></add>
    <add key="PUBLIC_SECTOR_RISK_VALUE" value ="1000000"></add>
    <add key="PRIVATE_SECTOR_RISK_VALUE" value ="1000000"></add>
  </appSettings>
</configuration>